<!--<p>home works!</p>-->

<h1>Welcome</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()"> this </span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"> 
        <br>
        <strong>You said: </strong> {{name}}
    </p>
</div>

<!--<div class="play-container" [style.background-color]="clickCounter > 4 ? 'YELLOW' : 'cyan'"> -->>
    <div class="play-container" [ngStyle]= "{
        'background-color': clickCounter > 5 ? 'YELLOW' : 'CYAN',
        'border': clickCounter > 5 ? '4px solid black' : 'none'
    }">
    <ng-template [ngIf]="clickCounter > 5"  [ngIfElse]="none">
        <p>The click coutner <strong> IS GREATER </strong> than 5.</p>
    </ng-template>
    <ng-template #none>
        <p>The click coutner <strong> IS LESS </strong> than 5.</p>
    </ng-template>

</div>
